@inherits LayoutComponentBase

<nav id="nav">
    <NavLink class="navlink" href="" Match="NavLinkMatch.All">Create Character</NavLink>
    <NavLink class="navlink" href="showcase">Show Character</NavLink>
</nav>

<main id="main">
@Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
